:root {
    --primary: #3F1651;
    --secondary: #F89F5B; /* 101, 55, 128 */
    --tertiary : #653780;
    --text-color: #FFF;
    --text-secondary: #000;
    --text-tertiary: #5d5d5d;
}

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* event form */

#subscription {
    background: linear-gradient(rgba(63, 22, 81, 0.8), rgba(63, 22, 81, 0.8)), url("../img/subscription.png");
    background-position: center;
    background-size: cover;
    height: 85vh;
    display: flex;
    justify-content: space-around;
    align-items: center; /* alinhando de acordo com o eixo y */
    color: var(--text-color);
}


#disclaimer h1,
#disclaimer .opening-date {
  color: var(--secondary);
}

#disclaimer h1 {
    font-size: 3.5em;
    font-weight: 800;
    margin-bottom: 1em;
}

#disclaimer .about-me {
    line-height: 1.2;
    text-transform: uppercase;
    font-size: 1.85em;
    max-width: 350px;
    font-weight: 555;
    margin-bottom: 2em;
}

#disclaimer p {
    font-size: 1.1em;
    margin-bottom: 0.3em;
}

#disclaimer .opening-date {
    font-weight: bold;
}

#subscription-form {
    background-color: var(--tertiary);
    border-radius: 10px;
    padding: 2em;
    max-width: 22%;
}

#subscription-form p {
    font-size: 1.2em;
    margin-bottom: 1em;
}

#subscription-form .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.8em;
}

#subscription-form label {
    margin-bottom: 0.3em;
    font-weight: bold;
}

.form-group input,
.form-group select {
    padding: 6px 8px;
    border: none;
    outline: none;
    border-radius: 5px;
}

#subscription-form select {
    background-color: white;
    color: #767676;
    letter-spacing: 0.2em;
}

.btn {
    background-color: var(--secondary);
    color: var(--primary);
    font-weight: bold;
    text-transform: uppercase;
    width: 100%;
    padding: 12px;
    cursor: pointer;
    border: none;
    border-radius: 0.5em;
    font-size: 0.75em;
    opacity: 0.8;   
}

.btn:hover {
    opacity: 1;
    transition: 1s;
}

/* benefits */

#key-benefits h1 {
    background-color: var(--tertiary);
    text-align: center;
    padding: 2em;
    font-weight: bold;
    font-size: 2.3em;
    color: var(--primary);
    
}

.benefits {
    display: flex;
    justify-content: space-around;
    padding: 4em;
    width: 80%;
    margin: 0 auto;
}

.benefit {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 20%;
    color: var(--text-secondary);
}

.benefit .benefit-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin-bottom: 1em;
    text-align: center;
}

.benefit i{
    color: var(--tertiary);
    font-size: 10em;
}

.benefit p {
    font-weight: 435;
    font-size: 1.1em;
    color: var(--primary);
}

#benefit-1 {
    background-image: url("../img/instagram-icon.png");
}

#benefit-2 {
    background-image: url("../img/linkedin-icon.png");
}

#benefit-3 {
    background-image: url("../img/github-icon.png");
}

/* event service */

#service {
    height: 400px;
    background: linear-gradient(rgba(63, 22, 81, 0.8), rgba(63, 22, 81, 0.8)), url("../img/section-service.png");
    background-position: top;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: var(--text-color);
    margin-bottom: 3em;
}

#agenda,
#about-service {
    max-width: 30%;
}

#about-service {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#agenda {
    display: flex;
}

#agenda i {
    color: var(--secondary);
    font-size: 12em;
    margin-right: 0.5em;
}

#agenda-details {
    width: 20%;
    font-size: 1.4em;
}

#about-service h3 {
    color: var(--secondary);
    font-size: 2.5em;
    margin-bottom: 1em;
    text-transform: uppercase;
}

#about-service p {
    line-height: 1.5em;
}

/* event details conteiner */

#details {
    width: 80%;
    margin: 0 auto;
}

.detail {
    display: flex;
    padding: 2em;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.detail img {
    width: 50%;
}

.detail h3 {
    display: flex;

}

#detail-1 h3 {
    font-size: 3.3em;
    font-weight: 700;
    color: var(--primary);
}

#detail-1 h3,
#detail-3 h3  {
    text-align: end;
}

#detail-2 h3 {
    font-size: 2.2em;
    font-weight: 678;
    color: var(--tertiary);
}

.detail-description {
    width: 100%;
    padding-left: 2em;
}

.detail-description ul {
    font-size: 1.1em;
    font-weight: 460;
    line-height: 1.5em;
    list-style-position: inside;
    color: var(--tertiary);
}

.detail-description ul li{
    margin-bottom: 0.4em;
}
.detail-description ul li:last-child {
    font-weight: bold;
}

#detail-3 h3 {
    font-size: 2.5em;
    font-weight: 700;
    color: var(--primary);
}

/* call to action */

#cta {
    height: 300px;
    background: linear-gradient(rgba(63, 22, 81, 0.8), rgba(63, 22, 81, 0.8)), url("../img/section-service.png");
    background-position: top;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--secondary);
}

#cta h3 {
    margin-bottom: 1.2em;
    font-size: 2em;
    font-weight: 750;
}

#cta .btn {
    width: 30%;
    margin: 0 auto;
    font-weight: 600;
}

/* footer */
#footer {
    text-align: center;
    color: var(--primary);
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.5;
    margin: 12px;
}

#footer h3{
    font-size: 2em;
    font-weight: 800;
    color: var(--secondary);
}

#footer p {
    font-size: 0.8em;
    font-weight: 515;
}


#footer p a{
    text-decoration: none;
    color: var(--primary);
}

#footer span {
    font-weight: 680;

}

/* mobile */

@media (max-width: 450px) {
    .btn {
        opacity: 1;
    }

    /* event form */
    #subscription {
        flex-direction: column;
        height: auto;
    }

    #disclaimer {
        padding: 2em;
    }

    #disclaimer h1 {
        margin-bottom: 0.5em;
    }

    #subscription-form {
        max-width: 85%;
        margin-bottom: 2em;
    }

    /* benefits */
    .benefits {
        flex-direction: column;
        align-items: center;
        width: auto;
        padding: 2em 0pc 2em 0px;
    }

    .benefit {
        max-width: 100%;
        margin-bottom: 2em;
    }

    /* event location */
    #service {
        flex-direction: column;
        height: auto;
        text-align: center;
        padding: 2em 0;
    }

    #agenda {
        order: 2;
        flex-direction: column;
        max-width: 100%;
    }

    #agenda i {
        margin: 0.3em 0;
    }

    #about-service {
        order: 1;
        max-width: 100%;
    }

    #about-service h3 {
        margin-bottom: 0;
    }

    #about-service p {
        display: none;
    }

    /*minutagem 1:07:00*/

    /* event details conteiner */
    .detail {
        flex-direction: column;
        margin-bottom: 0.5em;
        gap: 0;
    }

    .detail img {
        width: 100%;
        margin: 2em 0;
    }

    #detail-1 img {
        display: none;
    }

    .detail-description {
        padding: 0;
    }

    #detail-1 h3,
    #detail-3 h3 {
        font-size: 2.2em;
        text-align: start;
    }

    #detail-3 img {
        order: 2;
    }

    #detail-3 .detail-description {
        order: 1;
    }

    /* call to action */
    #cta .btn {
        width: 50%;
        font-size: 0.9em;
        margin: 0 auto;
        font-weight: 600;
    }

    /* footer */

    footer {
        text-align: center;
    }
}